body {
    font-family: sans-serif;
    background-image: url(../footer_lodyas/footer_lodyas.png);
    background-attachment: fixed;
}

h2, h3, h4{
    color: rgb(194, 187, 78)
}

p {
    font-family: serif;
}

.navbar-default {
    background-color:#ffffff;
}

.navbar-inverse {
    background-color: #4e4e4e;
}

.navbar-right li{
    margin-right: 2em;
}

.navbar-right li:hover {
    background-color: rgb(194, 187, 78);
}

.jumbotron {
    background: inherit;
    color: #e2e5e5;
    margin-bottom: 20px;
    text-align: center;
    overflow: auto;
}

.head {
    height: 40em;
    padding: 200px 20px;
    margin-bottom: 20px;
}

.bio {
    color: #7f7f7f;
    background-color: #ffffff;
    padding: 40px 10px;
    margin: 20px auto;
    width: 100%;
}

.bio p {
    font-size: 1.4em;
    line-height: 1.5em;
    margin: 1em 2em;
}

#profilePic {
    border: 10px solid rgb(194, 187, 78);
    border-radius: 100%;
}

.contact {
    margin: 20px auto;
    padding: 10px;
    text-align: left;
}

.contact h2 {
    text-align: center;
}

.contact input,textarea {
    width: 100%;
}

#subBtn {
    width: 100px;
    background-color: rgb(194, 187, 78);
    border: none;
    font-size: 1em;
    color: #ffffff;
    padding: 10px 15px;
}

#subBtn:hover {
    background-color: #7f7f7f;
}

.portfolio {
    background-color: #ffffff;
    margin: auto;
}

.portfolio ul li {
    display: inline-block;
}

.portfolio img {
    border: 4px solid rgb(194, 187, 78);
}

.social li {
    display: inline;
    padding: 10px 10px 0px 10px;
}

.social li img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.social li img:hover {
    box-shadow: 0px 0px 30px rgb(194, 187, 78);
}

footer {
    background-color: #7f7f7f;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

footer h4 {
    float: right;
    padding-right: 10px;
}
